/* Estilos para la scrollbar invisible */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #dbdbdb;
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #F6F7FC;
}

.logo img {
  width: 50px;
  margin-right: 10px;
  border-radius: 8PX;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  transition: all 0.3s ease-in-out;
}

.logo h1:hover {
  transform: scale(1.1);
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
  scrollbar-width: none;
}

.menu-item {
  flex-grow: 1;
  text-align: center;
  padding: 16px;
  transition: background-color 0.2s ease-in-out;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.208);
}

.active {
  background-color: #4CAF50;
  color: white;
}

/* Estilos para la sección de contenido */
.menu-content {
  flex-grow: 1;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.628);
  border-radius: 8px;
  overflow: auto;
  text-align: justify;
}

/* Estilos para hacer el diseño responsive */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    overflow-x: hidden;
  }

  .menu-item {
    flex-grow: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .menu-item:last-child {
    border-bottom: none;
  }

  .menu-content {
    margin: 16px;
  }
}
